<script data-goatcounter="https://frederik353.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<script>!function(){var p=new URLSearchParams(location.search).get("p");if(p){try{sessionStorage.setItem("ea-password",p)}catch(e){}history.replaceState(null,"",location.pathname+location.hash)}}()</script>
<script>document.addEventListener("click",function(e){var a=e.target.closest('a[href="#the-top"]');if(a){e.preventDefault();window.scrollTo({top:0,behavior:"smooth"});history.replaceState(null,"",location.pathname)}})</script>
